@charset "UTF-8";
    .slider, .slider .slider-img {
    overflow: hidden;
    height: 295px;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;6E4242
}
.carousel{
    width: 100%;
    display: flex;
    justify-content: center;
}

.book-guide{
    width: 200px;
    height: 295px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.book-guide h4{
    height: 30px;
    width: 200px;
    text-align: center;
    color: white;
    padding-top: 7px;
    background-color: #4b4d52;
}

.book-class li{
    width: 150px;
    height: 28px;
    margin: 0 auto;
    padding-top: 5px;
    list-style: none;
    border-bottom: 1px solid #ccc;
}

.book-class li a{
    text-decoration: none;
    color: gray;
    text-align: left;
    font-size: 14px;
}

.slider {
    width: 1000px;
    margin: 0 30px;
    /*margin: 0 auto;*/
    position: relative;
}
.slider:hover .slider-btn {
    color: #fff;
    text-shadow: 0 0 5px #666;
}
.slider .slider-img {
    width: 12000px;
    position: relative;
}
.slider .slider-img .slider-img-ul {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.slider .slider-img .slider-img-ul li {
    float: left;
}
.slider .slider-img .slider-img-ul li img {
    width: 1000px;
    /*height: 460px;*/
}
.slider .slider-dot ul {
    position: absolute;
    right: 50px;
    bottom: 30px;
}
.slider .slider-dot ul li {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    border: 2px solid #fff;
    float: left;
    margin-left: 10px;
}
.slider .slider-dot ul li.active, .slider .slider-dot ul li:hover {
    background: #fff;
}
.slider .slider-btn {
    position: absolute;
    width: 50px;
    height: 100px;
    top: 50%;
    line-height: 100px;
    text-align: center;
    color: #f2f1ea;
    font-size: 28px;
    text-decoration: none;
    font-family: '黑体';
    /*color: rgba(255, 255, 255, 0);*/
}
.slider .slider-btn:hover {
    background: rgba(125, 125, 125, .3);
}
.slider .slider-btn.slider-btn-left {
    left: 0;
    margin-top: -50px;
}
.slider .slider-btn.slider-btn-right {
    right: 0;
    margin-top: -50px;
}


//

.book-lists{
    width: 100%;
    height: auto;
    /*background-color: #ccc;*/
    display: flex;
    justify-content: flex-start;
    margin-top:15px; 
    margin-bottom:5px; 
    flex-wrap: wrap;
}

.book-list{
    /*width: 20%;*/
    min-width: 16%;
    /*margin: 10px;*/
    height: 300px;
    overflow: hidden;
    /*border-left: 1px solid #4b4d528f;*/
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.book-pic{
    /*width: 80%;*/
    min-width: 75%;
    height: 180px;
    border-bottom: 1px solid gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin:2px auto;
}

.book-pic img{
    margin:auto;    
    width: 150px;
    /*min-width: 140px;*/
}

.book-info{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;

}

.book-name{
    line-height: 26px;
    margin-left: 27px;
    font-size: 17px;
    color: #ae6d6a;
}

.book-detail{
    width: 185px;
    height: 34px;
    line-height: 18px;
    margin-left: 27px;
    color: #272222d6;
    font-size: 13px;
    word-wrap:break-word;
}

.book-price{
    width: 100%;
    height: 34px;
    font-size: 17px;
    line-height: 60px;
    margin-left: 27px;
    color: #880b16;
}

.book-buy{
    height: 36px;
    padding: 5px;
    margin-left: 45px; 
    text-decoration: none;
    color: white;
    font-size: 13px;
    border: 1px solid #4b4d52;
    border-radius: 2px;
    background: #4b4d52;
}

.book-buy:hover{
    /*font-weight: 600;*/
    background-color: #801c12;
    border: 1px solid #801c12;
}